@import url(/styles/imports/global.css);
@import url(/styles/imports/nav.css);
@import url(/styles/imports/footer.css);

.main-grid {
    /* border: 10px solid green; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 100px 150px;
    min-height: 80vh;
}

header {
    /* border: 3px solid yellow; */
}

.content {
    /* border: 3px solid blue; */
}

.title {
    /* display: none; */
    /* padding: 100px 150px 100px; */
}

/* FORM */

form {
    display: grid;
    gap: 10px;
    
}

form input {
    padding: 15px;
    border: solid 1px var(--gray);
    border-radius: 3px; */
    font-size: 1em;
}


.form-error {
    display: none;
    font-size: 0.6em;
    margin-top: -5px;
    margin-bottom: 10px;
    color: var(--red);
    font-weight: 600;
    padding-left: 10px;
}


.thank-you-message {
    display: none;
    color: var(--dark);
}




@media (max-width: 940px) {
    .main-grid {
        grid-template-columns: 1fr;
        gap: 30px;
        margin: 100px 20px;        
    }

    .cta {
        width: 100%;
    }
}