@import url(/styles/imports/global.css);
@import url(/styles/imports/nav.css);
@import url(/styles/imports/footer.css);

.main-grid {
    /* border: 10px solid green; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 100px 150px;
    min-height: 80vh;
}

header {
    /* border: 3px solid yellow; */
}

.content {
    /* border: 3px solid blue; */
}

.title {
    /* display: none; */
    /* padding: 100px 150px 100px; */
}

/* FORM */

form {
    display: grid;
    gap: 10px;    
}

.form-label {
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 600;
    color: var(--dark);
    opacity: 0.6;
    margin-top: 10px;
    margin-left: 2px;
}


input, textarea {
    font-size: 0.8em;
    padding: 15px;
    border: solid 1px var(--gray);
    border-radius: 3px;
    margin-top: -6px;
}

input:focus, textarea:focus, button:focus {
    outline: solid 1px var(--red);
}

.form-error {
    display: none;
    font-family: source-han-sans-cjk-ja, sans-serif;
    font-size: 0.8em;
    margin-top: -5px;
    margin-bottom: 10px;
    color: var(--red);
    font-weight: 600;
    padding-left: 10px;
}

.thank-you-message {
    display: none;
}




@media (max-width: 940px) {
    .main-grid {
        grid-template-columns: 1fr;
        gap: 30px;
        margin: 100px 20px;        
    }

    .cta {
        width: 100%;
    }
}