@import url(/styles/imports/global.css);
@import url(/styles/imports/nav.css);
@import url(/styles/imports/footer.css);


/* HEADER */
.welcome {
    /* display: none; */
    padding: 100px 150px 100px;
}

/* CAROUSEL */
.latest-posts {
padding: 0 150px 20px;
}

.carousel-container {
    display: grid;
    grid-template-columns: 0.3fr 1fr 1fr 1fr 1fr 0.3fr;
    gap: 5px;
    grid-area: auto;
    padding-bottom: 100px;
    
}

.grid-item {
    /* background: var(--white); */
    border: solid 2px var(--gray);
    border-radius: 10px;
    padding: 20px;
    min-height: 300px;
    max-width: 95%;    
    /* display: flex;
    flex-direction: column;
    justify-content:space-between; */
}

.grid-item:hover {
    background: white;
}


.card-image-small {
    width: 100px;
    height: 100px;
    border-radius: 200px;
    object-fit: cover;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

.read-link {
    padding-top: 10px;  
    display: flex;
    flex-direction: column;
    justify-content:flex-end;  

}

.page-one {
    display: block;
}

.page-two {
    display: none;
}

/* ARROWS */
.arrow-left-container {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 100%;
}

.arrow-right-container {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 100%;

}

button {
    background: none;
    border: none;
}

button:hover {
    opacity: 80%;
    cursor: pointer;
}

.arrow-left-button {
    /* display: none; */
}

.arrow-right-button {
    /* display: none; */
}

.older-posts-link {
    display: none;
    text-align: center;
    /* background: green; */
    margin: -100px 60px 100px;
    text-decoration: underline;
}


@media (max-width: 940px) {

    .arrow-left-container, .arrow-right-container {
        display: none;
    }

    .carousel-container {
        display: block;
        padding: 0 20px 130px;    
    }

    .grid-item {
        /* background: var(--white); */
        border: solid 1px var(--gray);
        margin-bottom: 30px;
        min-height: 0;
    }
    
    .card-image-small {
        margin-bottom: 20px;
    }

    .welcome {
        /* display: none; */
        padding: 100px 20px 100px;
    }

    .latest-posts {
        padding: 0 20px 20px;
        margin-top: -30px;
    }

    .older-posts-link {
        display: block;
    }

}