@import url(/styles/imports/global.css);
@import url(/styles/imports/nav.css);
@import url(/styles/imports/footer.css);

.main-grid {
    /* border: 10px solid green; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 100px 150px;
    min-height: 80vh;
}

header {
    /* border: 3px solid yellow; */
}

.image-container {
    /* display: none; */
    /* padding: 100px 150px 100px; */
}

.image-post {
    /* display: none; */
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}

.image-post:hover {
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.modal {
    opacity: 0;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: 0.25s ease-out;
    z-index: 100;
}

.modal.open {
    opacity: 1;
    pointer-events: all;
}

.modal img {
    /* width: 50%; */
    height: 90%;
}

.modal p {
    color: var(--white);
    font-size: 1.2rem;
    font-family: source-han-sans-cjk-ja, sans-serif;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -2%);
}

.photo-credit {
    opacity: 0.7;
    font-size: 0.9rem;
    
}

.full-img {
    /* display: none; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    transition: all 0.5s ease-out;
}

.full-img.open {
    /* transform: translate(-50%, -50%) scale(1); */
}

/* POST CONTENT */

.content {
    /* border: 3px solid blue; */
}



h2 {
    margin-bottom: 50px;
}

hr {
    margin-top: 50px;
}

.author-name {
    font-family: source-han-sans-cjk-ja, sans-serif;
    color: var(--dark);
    font-size: 20px;
}

.date {
    font-family: source-han-sans-cjk-ja, sans-serif;
    color: var(--dark);
    font-size: 16px;
}

.back-to-blog {
    color: var(--red);
    font-size: 1em;
}



@media (max-width: 940px) {
    .main-grid {
        grid-template-columns: 1fr;
        gap: 30px;
        margin: 100px 20px;        
    }

    .image-post {
        display: block;
        width: 200px;
        height: 200px;
        border-radius: 200px;
        object-fit: cover;
        margin: auto;
    }

    .cta {
        width: 100%;
    }

    .modal {
        background: rgba(0, 0, 0, 0.95);
    }

    .modal img {
        width: 80%;
        height: auto;
    }

    .back-to-blog {
        font-size: 2em;
    }

}